02-Learning-by-Example/*[!*.c, !Makefile]
02-Learning-by-Example/a*2f
03-Problem-Solving
04-Statement-Forms
05-Functions
06-Algorithms
07-Graphics
08-Random-Numbers
09-Strings
10-Modular-Development
11-Arrays
12-Sorting
13-Pointers
14-Strings-Revisited
15-Text-Files
16-Records
17-Looking-Ahead
